<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.skalse.rustydoku">

    <application
        android:label="Rustydoku"
        android:icon="@mipmap/icon"
        android:theme="@style/RustydokuTheme">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask">
            
            <meta-data android:name="android.app.lib_name" android:value="rustydoku" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
